<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Thank You</title>
<script
	src="https://code.jquery.com/jquery-3.1.0.min.js"
	integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
	crossorigin="anonymous"></script>

<script src="shim/js-webshim/minified/polyfiller.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link href="css/screen.css" rel="stylesheet" type="text/css" media="screen">
<style>
h6 {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	color:#0091F5;
	font-size:30px;
	line-height:2;
	text-align:justify;
}
h3 {
	padding-left:50px;
}
@media print {
	.noprint {
		display:none;
	}
	table {
		padding-left:10px;
	}
}
	
</style>
<script language="Javascript" type="text/javascript">
// <![CDATA[
/*
This script is written by Eric (Webcrawl@usa.net)
For full source code, installation instructions,
100's more DHTML scripts, and Terms Of
Use, visit dynamicdrive.com
*/

function printit(){  
if (window.print) {
    window.print() ;  
} else {
    var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
    WebBrowser1.ExecWB(6, 2);//Use a 1 vs. a 2 for a prompting dialog box    WebBrowser1.outerHTML = "";  
}
}
// ]]>g-recaptcha-response
</script>
</head>
<body>
<!--<nav class="navbar navbar-default navbar-fixed-top noprint">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only noprint">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#0091F5;" class="navbar-brand LisaBOriginals" href="http://www.lisaboriginals.ca">Lisa B Originals</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a style="color:#0091F5;" href="http://www.lisaboriginals.ca/training.php">Training</a></li>
			<li><a style="color:#0091F5;" href="http://www.lisaboriginals.ca/order.php">Dealer Order</a></li>
            <li><a style="color:#0091F5;" href="http://www.lisaboriginals.ca/wrnt.php">Warranty Claim</a></li>
          </ul>
          
        </div><!--/.nav-collapse
      </div>
    </nav>-->
<center><h3>Lisa B Originals</h3></center>
<p><h3>Here is the information you submitted:</h3></p>
<table width="900" border="1">

<tr>
	<th scope="col">Line</td>
	<th scope="col">Comment</td>
    <th scope="col">Size</td>
    <th scope="col">Side</td>
    <th scope="col">Style</td>
    <th scope="col">Colour</td>
    <th scope="col">Price $</td>
    <th scope="col">Quantity</td>
    <th scope="col">Line Total$</td>
  </tr>
  <tr>
    <td>$line1</td>
    <td>$lncomment1</td>
    <td>$size1</td>
    <td>$side1</td>
    <td>$style1</td>
    <td>$colour1</td>
    <td>$box1</td>
    <td>$quant1</td>
    <td>$ltotal1</td>
  </tr>
  <tr>
    <td>$line2</td>
    <td>$lncomment2</td>
    <td>$size2</td>
    <td>$side2</td>
    <td>$style2</td>
    <td>$colour2</td>
    <td>$box2</td>
    <td>$quant2</td>
    <td>$ltotal2</td>
  </tr>
  <tr>
   <td>$line3</td>
   <td>$lncomment3</td>
   <td>$size3</td>
    <td>$side3</td>
    <td>$style3</td>
    <td>$colour3</td>
    <td>$box3</td>
    <td>$quant3</td>
    <td>$ltotal3</td>
  </tr>
   <tr>
    <td>$line4</td>
    <td>$lncomment4</td>
    <td>$size4</td>
    <td>$side4</td>
    <td>$style4</td>
    <td>$colour4</td>
    <td>$box4</td>
    <td>$quant4</td>
    <td>$ltotal4</td>
  </tr>
   <tr>
    <td>$line5</td>
    <td>$lncomment5</td>
    <td>$size5</td>
    <td>$side5</td>
    <td>$style5</td>
    <td>$colour5</td>
    <td>$box5</td>
    <td>$quant5</td>
    <td>$ltotal5</td>
  </tr>
   <tr>
    <td>$line6</td>
    <td>$lncomment6</td>
    <td>$size6</td>
    <td>$side6</td>
    <td>$style6</td>
    <td>$colour6</td>
    <td>$box6</td>
    <td>$quant6</td>
    <td>$ltotal6</td>
  </tr>
   <tr>
    <td>$line7</td>
    <td>$lncomment7</td>
    <td>$size7</td>
    <td>$side7</td>
    <td>$style7</td>
    <td>$colour7</td>
    <td>$box7</td>
    <td>$quant7</td>
    <td>$ltotal7</td>
  </tr>
   <tr>
    <td>$line8</td>
    <td>$lncomment8</td>
    <td>$size8</td>
    <td>$side8</td>
    <td>$style8</td>
    <td>$colour8</td>
    <td>$box8</td>
    <td>$quant8</td>
    <td>$ltotal8</td>
  </tr>
   <tr>
    <td>$line9</td>
    <td>$lncomment9</td>
    <td>$size9</td>
    <td>$side9</td>
    <td>$style9</td>
    <td>$colour9</td>
    <td>$box9</td>
    <td>$quant9</td>
    <td>$ltotal9</td>
  </tr>
   <tr>
    <td>$line10</td>
    <td>$lncomment10</td>
    <td>$size10</td>
    <td>$side10</td>
    <td>$style10</td>
    <td>$colour10</td>
    <td>$box10</td>
    <td>$quant10</td>
    <td>$ltotal10</td>
  </tr>
   <tr>
   <td>$line11</td>
    <td>$lncomment11</td>
    <td>$size11</td>
    <td>$side11</td>
    <td>$style11</td>
    <td>$colour11</td>
    <td>$box11</td>
    <td>$quant11</td>
    <td>$ltotal11</td>
  </tr><!--copy-->
  <tr>
    <td>$line12</td>
    <td>$lncomment12</td>
    <td>$size12</td>
    <td>$side12</td>
    <td>$style12</td>
    <td>$colour12</td>
    <td>$box12</td>
    <td>$quant12</td>
    <td>$ltotal12</td>
  </tr>
  <tr>
    <td>$line13</td>
    <td>$lncomment13</td>
    <td>$size13</td>
    <td>$side13</td>
    <td>$style13</td>
    <td>$colour13</td>
    <td>$box13</td>
    <td>$quant13</td>
    <td>$ltotal13</td>
  </tr>
  <tr>
    <td>$line14</td>
    <td>$lncomment14</td>
    <td>$size14</td>
    <td>$side14</td>
    <td>$style14</td>
    <td>$colour14</td>
    <td>$box14</td>
    <td>$quant14</td>
    <td>$ltotal14</td>
  </tr>
   <tr>
    <td>$line15</td>
    <td>$lncomment15</td>
    <td>$size15</td>
    <td>$side15</td>
    <td>$style15</td>
    <td>$colour15</td>
    <td>$box15</td>
    <td>$quant15</td>
    <td>$ltotal15</td>
  </tr>
   <tr>
   <td>$line16</td>
    <td>$lncomment16</td>
    <td>$size16</td>
    <td>$side16</td>
    <td>$style16</td>
    <td>$colour16</td>
    <td>$box16</td>
    <td>$quant16</td>
    <td>$ltotal16</td>
  </tr>
   <tr>
    <td>$line17</td>
    <td>$lncomment17</td>
    <td>$size17</td>
    <td>$side17</td>
    <td>$style17</td>
    <td>$colour17</td>
    <td>$box17</td>
    <td>$quant17</td>
    <td>$ltotal17</td>
  </tr>
   <tr>
    <td>$line18</td>
    <td>$lncomment18</td>
    <td>$size18</td>
    <td>$side18</td>
    <td>$style18</td>
    <td>$colour18</td>
    <td>$box18</td>
    <td>$quant18</td>
    <td>$ltotal18</td>
  </tr>
   <tr>
    <td>$line19</td>
    <td>$lncomment19</td>
    <td>$size19</td>
    <td>$side19</td>
    <td>$style19</td>
    <td>$colour19</td>
    <td>$box19</td>
    <td>$quant19</td>
    <td>$ltotal19</td>
  </tr>
   <tr>
    <td>$line20</td>
    <td>$lncomment20</td>
    <td>$size20</td>
    <td>$side20</td>
    <td>$style20</td>
    <td>$colour20</td>
    <td>$box20</td>
    <td>$quant20</td>
    <td>$ltotal20</td>
  </tr>
</table>
<p><h3>Please keep this email for your records.  It can be printed.</h3></p>
</script>
</body>
</html>
