<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Warranty</title>
<style>
#wrapper {
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}
</style>
</head>

<body>
<div id="wrapper">
Name: $realName<br><br>

Email: $email<br><br>

Store ID: $storeid<br><br>

<table width="1100" border="1">
  <caption>
   <p> Warranty Claim</p>
  </caption>
  <tr>
    <th scope="col">Client</th>
    <th scope="col">Sz</th>
    <th scope="col">Sd</th>
    <th scope="col">Stl</th>
    <th scope="col">Clr</th>
    <th scope="col">Inv#</th>
    <th scope="col">PO#</th>
  </tr>
  <tr>
    <td>$lcomment1</td>
    <td>$size1</td>
    <td>$side1</td>
    <td>$style1</td>
    <td>$colour1</td>
    <td>$invNum1</td>
    <td>$po1</td>
  </tr>
  <tr>
    <td>$lcomment2</td>
    <td>$size2</td>
    <td>$side2</td>
    <td>$style2</td>
    <td>$colour2</td>
    <td>$invNum2</td>
    <td>$po2</td>
  </tr>
  <tr>
    <td>$lcomment3</td>
    <td>$size3</td>
    <td>$side3</td>
    <td>$style3</td>
    <td>$colour3</td>
    <td>$invNum3</td>
    <td>$po3</td>
  </tr>
  <tr>
    <td>$lcomment4</td>
    <td>$size4</td>
    <td>$side4</td>
    <td>$style4</td>
    <td>$colour4</td>
    <td>$invNum4</td>
    <td>$po4</td>
  </tr>
  <tr>
    <td>$lcomment5</td>
    <td>$size5</td>
    <td>$side5</td>
    <td>$style5</td>
    <td>$colour5</td>
    <td>$invNum5</td>
    <td>$po5</td>
  </tr>
</table>
</div><!--end wrapper-->


</body>
</html>
